.slider-stories{
  margin-inline: 10px;
   
  
    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      
        .card {
         text-align: center;
          display: inline-block;
         
      
        .avtar{
            margin-inline: 8px;
            width: 60px;
            height: 60px;
          
         .image-story{
           border: 2px solid #3880ff;
           animation: spin 5s linear infinite;
            width: 60px;
            height: 60px;
            object-fit: cover;
      }
        }
        .name{

          font-size: 14px;
        }
        .state-active{
     
right: 17px;
          position: relative;

        }  
           
      
     
        }
      }
}  
