.slider-stories {
  margin-inline: 10px;

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card-slider {
      text-align: center;
      display: inline-block;

      .avtar {
        margin-inline: 8px;
        width: 60px;
        height: 60px;

        .image-story {
          border: 2px solid #e0e0e094;
          animation: spin 5s linear infinite;
          width: 60px;
          height: 60px;
          object-fit: cover;
        }
      }
      .name {
        font-size: 14px;
        font-family: "Source Sans Pro", sans-serif;
      }
      .state-active {
        right: 17px;
        top: 20px;
        position: relative;
      }
    }
  }
}
