.body-modal-message {
    .title-list {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */

        letter-spacing: -0.15px;
        text-transform: uppercase;

        color: rgba(0, 0, 0, 0.35);
    }
}
