.item-people {
    margin-top: 10px;
    .avtar {
        width: 40px;
        height: 40px;
    }
    .name {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.41px;
    }
}
