.item-menu-profile {
  .end-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.41px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(0, 0, 0, 0.35);
  }
  .title {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.41px;
  }
}
